{% assign hobbies = site.data.data.sidebar.hobbies %}
{% if hobbies %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Hobbies
  </h2>

  <ul class="list-unstyled interests-list">
    {% for h_interest in hobbies %}

      {% if h_interest.link %}
      <li><a href="{{ h_interest.link }}">{{ h_interest.item }}</a></li>
      {% else %}
      <li>{{ h_interest.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
